<div class="hero-container">
  <div class="hero-content">
    <h1>
      <span>Hola, soy Hasan.</span><br>
      Un FullStack Developer.
    </h1>
    <p>
      Convierto ideas en aplicaciones web robustas y escalables, con un enfoque en la experiencia de usuario y el código de calidad.
    </p>
    <div class="hero-buttons">
      <a mat-raised-button color="primary" href="#contact">Contáctame</a>
      <a mat-raised-button class="github-button" href="https://github.com/HasanAshee" target="_blank">GitHub</a>
    </div>
  </div>
</div>
